@charset "utf-8";

  body {
    background-color: #f8f5f2
  }
  
  h1 {
    text-align: center;
  }
  
  .register {
    text-align: center;
  }
  
  .main {
    font-family: 'Alegreya Sans SC', sans-serif; 
    text-align: center;
  }

  .main {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    border: 5px solid #078080;
    background: #f8f5f2;
  }
  
  .main:before,
  .main:after {
    position: absolute;
    content: '';
  }
  
  .main:before {
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border: 5px solid #078080;
    border-radius: 50%;
    background: #f8f5f2;
  }
  
  .main:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f5f2;
  }
  
  .main i {
    font-size: 40px;
    font-size: 3rem;
    line-height: 60px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 60px;
    text-align: center;
  }
  
  .main span {
    position: relative;
    z-index: 1;
  }
  
  .things_index {
     text-align: center; 
  }
  
  .things_of_all {
      display: flex;
  }
  
  .things_type {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .type_thing {
    margin-right:140px;
  }
  
  .thing_show {
    text-align: center; 
  }
  
  .thing_of_things {
    position: absolute;
    top: 43%; left: 32.5%;
  }
  .money_of_things {
    position: absolute;
    top: 43%; left: 51.5%;
  }
  
  .box_1 {
    display:block;
    width:200px; 
    margin:5px; padding:10px; border:1px solid black;
    background-color:lightgray;
  }
  
  .thing_id {
    padding-left: 40px
  }
  
   .back {
    width:50px;
    margin-right: auto;
    margin-left : auto;
  }
  
  .delete_1 {
    width:115px;
    margin-right: auto;
    margin-left : auto;
    margin-top: 10px;
  }
  
  .delete_2 {
    width:50px;
    margin-right: auto;
    margin-left : auto;
    margin-top: 10px;
  }
  
  
  .box_1 {
   width: 210px;/* 紙の横幅 100%にすると全幅表示に */
   padding: 15px;
   margin: 2em auto;
   background: #fffffe;/* 紙の色 */
   color: #17223b;/* 文字色 */
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
   border: 3px solid #f45d48; /* 枠線 */
  }
  .box_1 p {
      margin: 0; 
      padding: 0;
      font-size: 0.9em;
  }
  .box_1_tape {
      width: 50%;
      height: 35px;
      margin: -25px auto 0;
      background: #2694ab;
      transform: rotate(-3deg);
      opacity: 0.1;
  }
  .box_1_title {
      text-align: center;
      font-size: 1.3em!important;
      margin-top: 10px!important;
  }
  .box_1_text {
      text-align: center;
      font-size: 0.7em!important;
      margin-bottom: 1em!important;
  }
  
  .box_2 {
    display: inline-block;
    width:500px;
    margin-right: auto;
    margin-left : auto;
    margin-top: 20px;
    border: 3px solid #f45d48; /* 枠線 */
  }
  .box_2 p {
    margin: 0;
    padding: 0;
  }
  .sen14 {
    background-color: #fffffe;
    background-image:
    linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fffffe 0%, #fffffe 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #ed7780 100%);
    background-size: 8px 100%,100% 2em;
    line-height: 2;
      padding: 4px 10px 22px 10px;
  }
  
  .form {
    display: inline-block;
    padding: 30px;
    margin-bottom: 10px;
    color: #2c2c2f;
    background: #f8f5f2;/*背景色*/
    border-radius: 10px;/*角の丸み*/
    border: 5px solid #f45d48
  }
 
 
  .type_thing {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;

} 

  .type_money {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
} 
  
  .total_count {
    margin-top: 5px;
  }
  
  
    
    
  
  